<!-- Hero -->
<!--
<div class="hero-unit">
	<table width="100%"><tr><td valign="top">

	<h1>ギャラリー天</h1>
	<p><br>暮らしの器を中心に生活に潤いを与える器<br>
	生活に潤いをあたえる器<br>
	彩り豊かな美しい器<br>
	見ているだけではわからない<br>
	使われてこそ生き生きする器<br>
	個性的で新しい感覚の器<br>
	取り揃えました。<br><br>
	やきものをみる、つくる、ふれる、使う楽しみがあります。</p>

	<p><br> <%= link_to '続きを読む &raquo;'.html_safe, about_path, class: "btn btn-primary btn-large" %>
	</td>
	<td valign="top">
		<%= image_tag("topPhoto3.png", alt: "studio", align: "right") %>
	</td></tr></table>
</div>
-->

<!-- blurbs -->
<div class="row">
	<div class="span12">
		<div class="pagination-centered">
			<%= image_tag("TopBanner.png", alt: "studio") %>
		</div>
		<br>
		<hr>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h2>ギャラリー天</h2>
		<p>初めての方でも基礎から自由で楽しい作品作りができ、 経験者は自由に作陶し、技術を高めていくことができます。</p>
		<p>のんびりとしたアッ トホームな雰囲気の中、土に触れ、幼いころにどろんこ遊びをして作りだすこと に夢中だったころが、心の中に甦ってきます。</p>
		<p>忙しい日常から、ほんの少しの間、 童心にかえってみることで、なにか違う日常を見付けられるかもしれません。</p>
		<p><%= link_to '続きを読む &raquo;'.html_safe, about_path, class: 'btn' %>
	</div>
	<div class="span4">
		<h2>貸しギャラリー</h2>
		<p>貸しギャラリー受け付けています。陶器だけではなく、壁面を使用した絵画などの個展、企画展、共同展などご相談承りますので、お気軽にお問い合わせ下さい。</p>
		<p>不定休で営業しておりますので、お手数ですが前もってお電話いただけましたら幸いです。</p>
		<p><%= link_to '続きを読む &raquo;'.html_safe, gallery_path, class: 'btn' %>
	</div>
	<div class="span4">
		<h2>陶芸教室</h2>
		<p>池上線 千鳥町駅、多摩川線下丸子駅から徒歩5分圏内。駐車場もあります。</p>
		<p>午前/午後/夜の部（10:00-21:30)と分かれていて、お仕事や自分の都合に合わせられます。</p>
		<p>授業の振り替えもOK。当工房にて窯を二機設置しています。</p>
		<p>ギャラリーも併設しており、生徒展を定期的に開催しております。また個人の発表の場としても貸し出しております。</p>
		<p><%= link_to '続きを読む &raquo;'.html_safe, classroom_path, class: 'btn' %>
	</div>
</div>

