<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gallary ten</title>
    <meta name="description" content="">
    <meta name="author" content="">

    	<!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
		<%= render 'layouts/stylesheets' %>

		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>

		<%= render 'layouts/header-topbar' %>

		<div class="container">

			<div class="row">
				<div class="span4">
					<a href="https://twitter.com/share" class="twitter-share-button" data-text="Gallery Ten Tokyo" data-via="henjo">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
					</script>
					<!-- google +1 -->
					<g:plusone size="medium"></g:plusone>
				</div>
			    <div class="span8">
					<p class="pull-right">03-5482-5245 | 〒146-0084 東京都大田区南久が原2-31-10</p>
				</div>
			</div>

			<%= yield %>

			<hr>

			<footer>
				<div class="row">
					<div class="span5">
						<form class="form-inline">
						    <fieldset>
						      <div class="control-group">
						        <label class="control-label" for="input01_email">ニュースレター登録申し込み：</label>
						        <div class="controls">
						          <input type="text" class="input-xlarge" id="input01_email">
						          <button type="submit" class="btn-primary">送信</button>
						        </div>
						      </div>
						    </fieldset>
						</form>
						<p>&copy; Gallery Ten 2012</p>
					</div>
					<div class="span5 offset2">
						
					</div>
				</div>
			</footer>
		</div>

		<!-- google +1 render code -->
		<script type="text/javascript">
		  window.___gcfg = {lang: 'ja'};

		  (function() {
		    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		    po.src = 'https://apis.google.com/js/plusone.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
		  })();
		</script>

	</body>
</html>