<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>gallary ten</title>
    <meta name="description" content="">
    <meta name="author" content="">
    
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<%= render 'layouts/stylesheets' %>

		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>

	</head>
	<body>

		<%= render 'layouts/header-topbar' %>

		<div class="container">

			<div class="row">
			    <div class="span8 offset4">
					<p class="pull-right">03-5482-5245 | 〒146-0084 東京都大田区南久が原2-31-10</p>
				</div>
			</div>

			<%= yield %>

			<hr>

			<footer>
				<div class="row">
					<div class="span5">
						<form class="form-inline">
						    <fieldset>
						      <div class="control-group">
						        <label class="control-label" for="input01_email">Sign up for our newsletter:</label>
						        <div class="controls">
						          <input type="text" class="input-xlarge" id="input01_email">
						          <button type="submit" class="btn-primary">Sign Up</button>
						        </div>
						      </div>
						    </fieldset>
						</form>
						<p>&copy; Gallery Ten 2012</p>
					</div>
					<div class="span5 offset2">
						
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>